SEARCH_URL="https://www.folgerscoffee.com/search"
PRODUCTS_CSV="Black Silk Coffee, Blonde Silk Coffee, 1/2 Caff Coffee, Colombian Coffee, Classic Roast Coffee, Breakfast Blend Coffee, French Roast Coffee, House Blend Coffee, Simply Smooth Coffee, Simply Smooth Decaf Coffee, Coffeehouse Blend Coffee, Gourmet Supreme Coffee, Mardi Gras Blend Ground Coffee, French Vanilla Flavored Coffee, Toasty Hazelnut Flavored Coffee, Buttery Caramel Flavored Coffee, Trailblazer Ground Coffee, Black Gold Coffee, Expedition Blend Coffee"
CSS_SELECTOR_PRODUCT="li.item.result"
CSS_SELECTOR_DESCRIPTION="div.product-description p:first-of-type"